Properly set filename header on attachment download (was: Follow up to #203)

We should implement [RFC 6266 section 4.3](https://tools.ietf.org/html/rfc6266#section-4.3) correctly.

We need to do the following:

* Strip out illegal chars (I think we only do that with whitespace, there are other chars we should be removing)
* Do the weird stripped down to ASCII + %-quoted params

django-sendfile2 does this already, we could borrow that code: https://github.com/moggers87/django-sendfile2/blob/master/django_sendfile/utils.py#L64